{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}

{% include 'navbar.html.twig' %}
<div class ="background-sign-in">

            <section>
  
       
                <div class ="uk-align uk-margin uk-position uk-position-center uk-margin-large-top uk-align-center uk-width-1-1  uk-card uk-card-secondary  uk-card-body uk-border-rounded">
      
                    <h2>About us  </h2>
                    <div class="uk-margin-medium-top  uk-margin-small-bottom">
                    <p>Bonjour ! Nous allons sur ce site, vous présenter les différents serpents vivant sur le territoire français,<br> et pour la plupart, sur les pays frontaliers, comme la Suisse, l’Allemagne, la Belgique, l’Italie, l’Espagne et d'autres.<br> En France, la loi de 1976 protège tous les serpents français, cependant, nous sommes encore nombreux à les tuer par ignorance… <br>De plus l’habitat des serpents ne cesse de diminuer à cause, par exemple,  de l’agriculture intensive…</p>
                     <div>
                        <div class="uk-card uk-card-secondary uk-card-body">
                         <p>Ce site a pour vocation d’informer toutes les personnes qui en ont peur ou qui ne connaissent pas les couleuvres et vipères vivant dans nos campagnes.<br> Ainsi, peut-être que la mentalité commencera à changer… En effet un serpent est utile dans la régulation des populations de rongeurs et de ces autres proies.<br> Et contrairement aux idées reçues, les serpents français ne sont pas dangereux, la plupart des espèces sont même totalement inoffensives!<br> Les vipères sont cependant dangereuses pour l’homme. Il faut néanmoins relativiser, il y aurait environ qu’un seul mort par an en France à cause des vipères,<br> et aucun depuis 1975 en Grande-Bretagne !<p>

                        </div>
                         <div class="uk-card uk-card-secondary uk-card-body">
                         Par ce site,  j’ose espèrer que chacun d’entre nous  se montrera à l’avenir respectueux de notre planète, ainsi que de la faune et de la flore,<br> et plus particulièrement vis à vis des serpents.Je vous propose une petite citation pour finir , <br> Détruire tout ce qui nous dérange ou nous effraye, c’est à la longue se donner sa propre mort.
                        </div>
                    </div>  
                        
                    </div>  
</div>
{% endblock %}
