{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<form method="post">
        <div class="background-login">
        {% include 'navbar.html.twig' %}
        </div>   
{% endblock %}
