{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}

{% include 'navbar.html.twig' %}
<div class ="background-sign-in">

            <section>
  
       
                <div class ="uk-align uk-margin uk-position uk-position-center uk-margin-large-top uk-align-center uk-width-1-1 uk-text-center uk-card uk-card-secondary  uk-card-body uk-border-rounded">
      
                    <h2>En Construction</h2>
                    <div class="uk-margin-medium-top  uk-margin-small-bottom">
                    <h3> une carte de France ayant pour objectif de réfférencer chaque espéce de serpent ainsi que leurs zones d'habitation et leurs caractéristiques arrivera sous peu.</h3>
                    </div>  
                        
                    </div>  
</div>
{% endblock %}
